<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<plugin>

  <extension point="org.eclipse.emf.ecore.generated_package">
    <package 
       uri = "http://www.project.org/droolsDSL/Ddsl" 
       class = "org.project.droolsDSL.ddsl.DdslPackage"
       genModel = "model/generated/Ddsl.genmodel" /> 
	
  </extension>



</plugin>
